{% extends 'base_index.html' %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% from "_macros/vf_cta-section.jinja" import vf_cta_section %}

{% block content %}

  {% call(slot) vf_hero(
    blocks=[],
    display_blank_signpost_image_space=false,
    is_split_on_medium=false,
    layout="50/50",
    subtitle_text="H2 placeholder - aim for one line, 2 is acceptable, more - use a paragraph",
    title_text="H1 - ideally one line, up to two"
    ) -%}

  {% endcall -%}

  {% call(slot) vf_cta_section(
    attrs={"class": ""},
    blocks=[{"type": "cta", "item": {"content": "<a href=\"#\">This is a very big CTA</a>", "primary": {"content_html": "", "attrs": {"href": ""}}, "type": "html"}}],
    title_text="H1 - ideally one line, up to two",
    variant="default",
    layout="100"
    ) -%}

  {% endcall -%}

{% endblock %}
